
# адрес для подключения к бд
DB_HOST=postgres

# порт для подключения к бд
DB_PORT= 

# имя пользователя бд
DB_USER=app

# пароль бд
DB_PASSWORD=

# название бд
DB_NAME=

# порт для работы сервера :443
SERVER_PORT=

# JWT-SECRET
JWT_SECRET=MEGASECRETKEY

# КЛЮЧ ШИФРОВАНИЯ ЗАПИСЕЙ
ENCRYPTION_KEY= 